<footer class="layout-1">
  <div class="divider divider--lg visible-xs"></div>
  <!-- footer-data -->
  <div class="container inset-bottom-60">



    <div class="row">
      <div class="col-xl-3 visible-xl">

        <div class="footer-logo hidden-xs">
          <!--  Logo  -->
          <a class="logo" href="/"> <img src="//cdn.shopify.com/s/files/1/1637/5229/t/4/assets/footerlogo.png?0"
            alt="fashop-default"> </a>
          <!-- /Logo -->
        </div>

        <div class="box-about">
          <div class="mobile-collapse">
            <div class="mobile-collapse__content">
              <!-- address -->
              <address class="box-address">
                <span class="icon icon-home"></span> <%= t("footer.str1") %>
                <br>
                <span class="icon icon-call"></span>
                <b class="color-dark"> <%= t("footer.str2") %> </b>
                <br>
                <span class="icon icon-access_time"></span>
                <%= t("footer.str3") %>
                <br>
                <span class="icon icon-markunread"></span>
                <a class="color" href="mailto:info@mydomain.com"><%= t("footer.str4") %></a>
              </address>
              <!-- /address -->
            </div>
          </div>
        </div>
      </div>





      <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2">
        <div class="mobile-collapse">
          <h4 class="text-left  title-under  mobile-collapse__title">
            <%= t("footer.str5") %>
          </h4>
          <div class="v-links-list mobile-collapse__content">
            <ul>

              <li><a href="/pages/about"><%= t("footer.str6") %></a>
              </li>

              <li><a href="/pages/support-24"><%= t("footer.str7") %></a>
              </li>

              <li><a href="/pages/faq"><%= t("footer.str8") %></a>
              </li>

              <li><a href="/pages/about"><%= t("footer.str9") %></a>
              </li>

              <li><a href="/pages/typography"><%= t("footer.str10") %></a>
              </li>

              <li><a href="/pages/warranty-and-services"><%= t("footer.str11") %></a>
              </li>

              <li><a href="/pages/delivery-page"><%= t("footer.str12") %></a>
              </li>

              <li><a href="/pages/contact"><%= t("footer.str13") %></a>
              </li>

            </ul>
          </div>
        </div>
      </div>





      <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2">
        <div class="mobile-collapse">
          <h4 class="text-left  title-under  mobile-collapse__title"><%= t("footer.str14") %></h4>
          <div class="v-links-list mobile-collapse__content">
            <ul>

              <li><a href="/pages/warranty-and-services"><%= t("footer.str15") %></a>
              </li>

              <li><a href="/pages/typography"><%= t("footer.str16") %></a>
              </li>

              <li><a href="/pages/about"><%= t("footer.str17") %></a>
              </li>

              <li><a href="/pages/delivery-page"><%= t("footer.str18") %></a>
              </li>

              <li><a href="/pages/support-24"><%= t("footer.str19") %></a>
              </li>

            </ul>
          </div>
        </div>
      </div>





      <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
        <div class="mobile-collapse">
          <h4 class="text-left  title-under  mobile-collapse__title"><%= t("footer.str20") %></h4>
          <div class="v-links-list mobile-collapse__content">
            <ul>

              <li><a href="https://fashop-default.myshopify.com/account/login"><%= t("footer.str21") %></a>
              </li>

              <li><a href="https://fashop-default.myshopify.com/cart"><%= t("footer.str22") %></a>
              </li>

              <li><a href="https://fashop-default.myshopify.com/pages/wishlist"><%= t("footer.str23") %></a>
              </li>

              <li><a href="/pages/support-24"><%= t("footer.str24") %></a>
              </li>

              <li><a href="/pages/faq"><%= t("footer.str25") %></a>
              </li>

            </ul>
          </div>
        </div>
      </div>



      <div class="divider divider--lg visible-md visible-sm"></div>
      <div class="col-sm-9 col-md-7 col-lg-4  col-xl-3">
        <div class="subscribe-box">
          <div class="mobile-collapse">

            <h4 class="text-left  title-under  mobile-collapse__title"><%= t("footer.str26") %></h4>
            <div class="mobile-collapse__content">
              <form action="//myshopify.us11.list-manage.com/subscribe/post?u=0b829b8aff26aaaaa5da602c6&amp;id=293978d1bd"
              method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
                <input type="text" name="EMAIL" class="subscribe-form__input">
                <button type="submit" class="btn btn--ys btn--xl"><%= t("footer.str27") %></button>
              </form>
            </div>

          </div>
        </div>
        <!-- social-icon -->
        <div class="divider divider--md"></div>
        <div class="social-links social-links--large social-links-layout-02">
          <ul>
            <li>
              <a class="icon fa fa-facebook" href="#"></a>
            </li>
            <li>
              <a class="icon fa fa-twitter" href="#"></a>
            </li>
            <li>
              <a class="icon fa fa-google-plus" href="#"></a>
            </li>
            <li>
              <a class="icon fa fa-instagram" href="#"></a>
            </li>
            <li>
              <a class="icon fa fa-youtube-square" href="#"></a>
            </li>
          </ul>
        </div>
        <!-- /social-icon -->
      </div>

    </div>
  </div>

  <div class="divider divider-md visible-sm"></div>
  <!-- footer-copyright -->
  <div class="container footer-copyright">
    <div class="row">
      <div class="col-lg-12">
        <a href="/"><span><%= t("footer.str28") %></span></a> <%= t("footer.str29") %></div>
    </div>
  </div>
  <!-- /footer-copyright -->
  <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop"><%= t("footer.str30") %> <span class="icon icon-expand_less"></span></a>

</footer>
