<div class="header-wrapper">
  <header id="header" class="header-design8">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-5">
          <a href="/"><img class="logo img-responsive" src="//cdn.shopify.com/s/files/1/1637/5229/t/4/assets/logo.png?0" alt="logo" /> </a>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-7 text-right">
          <div class="settings">
            <div class="account-row-list mobile-menu-off" style="display: inline-block;">
              <ul>
                <li><a href="/view_web/account"><span class="icon icon-person"></span><%= t("header-wrapper.str1") %></a> </li>
                <li><a href="/view_web/checkout"><span class="icon icon-done_all"></span><%= t("header-wrapper.str2") %></a> </li>
                <li><a href="/view_web/account/login"><span class="icon icon-lock"></span><%= t("header-wrapper.str3") %></a> </li>
                <li><a href="/view_web/account/register"><span class="icon icon-person_add"></span><%= t("header-wrapper.str4") %></a> </li>
              </ul>
            </div>
            <!-- shopping cart start -->
            <div class="cart link-inline header-cart mobile-menu-off">
              <div class="dropdown text-right">
                <a class="dropdown-toggle"> <span class="icon icon-shopping_basket"></span> <span class="badge badge--cart bigcounter">1</span> </a>
                <div class="dropdown-menu dropdown-menu--xs-full slide-from-top cart-group-1"
                role="menu">
                  <div class="container">
                    <div class="cart__top"><%= t("header-wrapper.str8") %></div> <a href="#" class="icon icon-close cart__close"><span><%= t("header-wrapper.str5") %></span></a>
                    <ul>
                      <li class="cart__item">
                        <div class="cart__item__image pull-left">
                          <a href="/products/paul-smith-blazer?variant=31530899532"><img src="//cdn.shopify.com/s/files/1/1637/5229/products/LEATHER_FUR_CROSSBODY_BAG_4_small.jpg?v=1481124090" alt="" /> </a>
                        </div>
                        <div class="cart__item__control">
                          <div class="cart__item__delete"><a href="javascript:void(0);" onclick="Shopify.removeItem(31530899532)" class="icon icon-delete"><span><%= t("header-wrapper.str9") %></span></a> </div>
                          <div class="cart__item__edit"><a href="/products/paul-smith-blazer?variant=31530899532" class="icon icon-edit"><span><%= t("header-wrapper.str10") %></span></a> </div>
                        </div>
                        <div class="cart__item__info">
                          <div class="cart__item__info__title">
                            <h2 class="title-center"><a href="/products/paul-smith-blazer?variant=31530899532">D-Kallien Boots - S / green</a></h2> </div>
                          <div class="cart__item__info__price"><span class="info-label"><%= t("header-wrapper.str12") %></span><span><span class=money>$85.00</span></span>
                          </div>
                          <div class="cart__item__info__price" style="right: 35%;"><span class="info-label"><%= t("header-wrapper.str11") %></span><span>1</span> </div>
                        </div>
                      </li>
                    </ul>
                    <div class="cart__bottom"> <a href="/checkout" class="btn btn--ys btn-checkout"><%= t("header-wrapper.str13") %> <span class="icon icon--flippedX icon-reply"></span></a>
                      <div class="cart__total"><%= t("header-wrapper.str14") %><span class="shopping-cart__total"> <span class=money>$85.00</span></span>
                      </div> <a href="/view_web/cart" class="btn btn--ys"><span class="icon icon-shopping_basket"></span><%= t("header-wrapper.str15") %></a> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- shopping cart end -->
          </div>
        </div>
      </div>
    </div>
    <div class="container showscreen1024">
      <div class="row text-center">
        <div class="text-right extra-right">
          <!-- account menu start -->
          <div class="account link-inline ">
            <div class="dropdown text-right">
              <a class="dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-person "></span> </a>
              <ul class="dropdown-menu dropdown-menu--xs-full">
                <li><a href="/view_web/account"><span class="icon icon-person"></span><%= t("header-wrapper.str1") %></a> </li>
                <li><a href="/view_web/checkout"><span class="icon icon-done_all"></span><%= t("header-wrapper.str2") %></a> </li>
                <li><a href="/view_web/account/login"><span class="icon icon-lock"></span><%= t("header-wrapper.str3") %></a> </li>
                <li><a href="/view_web/account/register"><span class="icon icon-person_add"></span><%= t("header-wrapper.str4") %></a> </li>
                <li class="dropdown-menu__close"><a href="#"><span class="icon icon-close"></span><%= t("header-wrapper.str5") %></a> </li>
              </ul>
            </div>
          </div>
          <!-- account menu end -->
        </div>
      </div>
    </div>
    <div class="stuck-nav">
      <div class="container offset-top-5">
        <div class="row">
          <div class="pull-left col-sm-10 col-md-10 col-lg-10">
            <nav class="navbar ">
              <div class="responsive-menu mainMenu">
                <div class="col-xs-2 visible-mobile-menu-on">
                  <div class="expand-nav compact-hidden">
                    <a href="#off-canvas-menu" id="off-canvas-menu-toggle">
                      <div class="navbar-toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text"><%= t("header-wrapper.str6") %></span> </div>
                    </a>
                  </div>
                </div>
                <ul class="nav navbar-nav">
                  <li class="dl-close"></li>
                  <li class="dropdown dropdown-mega-menu dropdown-one-col">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="act-underline"><%= t("header-wrapper.str16") %></span>
                    </a>
                  </li>
                  <li class="dropdown dropdown-mega-menu">
                    <a href="/view_web/collections" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="act-underline"><%= t("header-wrapper.str17") %></span>
                    </a>
                  </li>
                  <li class="dropdown dropdown-mega-menu dropdown-two-col">
                    <a href="/view_web/about" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="act-underline"><%= t("header-wrapper.str18") %></span>
                    </a>
                  </li>
                  <li class="dropdown dropdown-mega-menu dropdown-one-col">
                    <a href="/view_web/contacts" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="act-underline"><%= t("header-wrapper.str7") %></span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="pull-right col-sm-2 col-md-2 col-lg-2">
            <div class="text-right">
              <!-- search start -->
              <div class="search link-inline "> <a href="#" class="search__open"><span class="icon icon-search"></span></a>
                <div class="search-dropdown">
                  <form action="/search" method="get">
                    <div class="input-outer">
                      <input type="hidden" name="type" value="product" />
                      <input type="text" name="q" class="search_field" value="" maxlength="128" placeholder="SEARCH:">
                      <button type="submit" title="" class="icon icon-search"></button>
                    </div> <a href="#" class="search__close"><span class="icon icon-close"></span></a> </form>
                </div>
              </div>
              <!-- search end -->
              <!-- shopping cart start -->
              <div class="cart link-inline header-cart">
                <div class="dropdown text-right">
                  <a class="dropdown-toggle"> <span class="icon icon-shopping_basket"></span> <span class="badge badge--cart bigcounter">1</span> </a>
                  <div class="dropdown-menu dropdown-menu--xs-full slide-from-top cart-group-1"
                  role="menu">
                    <div class="container">
                      <div class="cart__top"><%= t("header-wrapper.str8") %></div> <a href="#" class="icon icon-close cart__close"><span><%= t("header-wrapper.str5") %></span></a>
                      <ul>
                        <li class="cart__item">
                          <div class="cart__item__image pull-left">
                            <a href="/products/paul-smith-blazer?variant=31530899532"><img src="//cdn.shopify.com/s/files/1/1637/5229/products/LEATHER_FUR_CROSSBODY_BAG_4_small.jpg?v=1481124090" alt="" /> </a>
                          </div>
                          <div class="cart__item__control">
                            <div class="cart__item__delete"><a href="javascript:void(0);" onclick="Shopify.removeItem(31530899532)" class="icon icon-delete"><span><%= t("header-wrapper.str9") %></span></a> </div>
                            <div
                            class="cart__item__edit"><a href="/products/paul-smith-blazer?variant=31530899532" class="icon icon-edit"><span><%= t("header-wrapper.str10") %></span></a> </div>
                    </div>
                    <div class="cart__item__info">
                      <div class="cart__item__info__title">
                        <h2 class="title-center"><a href="/products/paul-smith-blazer?variant=31530899532">D-Kallien Boots - S / green</a></h2> </div>
                      <div class="cart__item__info__price"><span class="info-label"><%= t("header-wrapper.str12") %></span><span><span class=money>$85.00</span></span>
                      </div>
                      <div class="cart__item__info__price" style="right: 35%;"><span class="info-label"><%= t("header-wrapper.str11") %></span><span>1</span> </div>
                    </div>
                    </li>
                    </ul>
                    <div class="cart__bottom"> <a href="/checkout" class="btn btn--ys btn-checkout"><%= t("header-wrapper.str13") %> <span class="icon icon--flippedX icon-reply"></span></a>
                      <div class="cart__total"><%= t("header-wrapper.str14") %><span class="shopping-cart__total"> <span class=money>$85.00</span></span>
                      </div> <a href="/cart" class="btn btn--ys"><span class="icon icon-shopping_basket"></span><%= t("header-wrapper.str15") %></a> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- shopping cart end -->
          </div>
        </div>
      </div>
    </div>
</div>
</header>
</div>
