<div class="mobile-menu-wrapper">
  <div class="mobile-menu-popup"></div>
  <nav id="off-canvas-menu"> <a id="cboxClose"><%= t("menu.str1") %></a>
    <ul class="expander-list">
      <li>
        <span class="name">
          <a href="/">
            <span class="act-underline"><%= t("menu.str2") %></span>
          </a>
        </span>
      </li>
      <li>
        <span class="name">
        <span class="expander">-</span>
          <a href="/view_web/collections">
            <span class="act-underline"><%= t("menu.str3") %></span>
          </a>
        </span>
        <ul class="multicolumn-level">
          <li>
            <span class="name">
              <span class="expander">-</span>
              <a href="/view_web/collections/women-s">
                <span class="act-underline"><%= t("menu.str4") %></span>
              </a>
            </span>
            <ul class="image-links-level-3 megamenu__submenu">
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/blouses-shirts">
                    <span class="act-underline">Blouses Shirts</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                  <span class="expander">-</span>
                  <a href="/view_web/collections/women-s/dresses">
                  <span class="act-underline">Dresses</span> </a>
                </span>
                <ul class="image-links-level-4 megamenu__submenu">
                  <li class="level4">
                    <span class="name">
                      <a href="/view_web/collections/women-s/bodycon-dresses">Bodycon Dresses
                      </a>
                    </span>
                  </li>
                  <li class="level4"> <span class="name">
                    <span class="expander">-</span>
                      <a href="/view_web/collections/women-s/midi-dresses">Midi Dresses</a>
                    </span>
                    <ul class="image-links-level-5 megamenu__submenu">
                      <li class="level5">
                        <span class="name">
                          <a href="/view_web/collections/women-s/occasion-&-cocktail">Occasion & Cocktail
                          </a>
                        </span>
                      </li>
                      <li class="level5">
                        <span class="name">
                          <a href="/view_web/collections/women-s/casual-everyday">Casual Everyday</a>
                        </span>
                      </li>
                      <li class="level5">
                        <span class="name">
                          <a href="/view_web/collections/women-s/going-out-&-party-dresses">Going Out & Party Dresses</a>
                        </span>
                      </li>
                    </ul>
                  </li>
                  <li class="level4">
                    <span class="name">
                      <a href="/view_web/collections/women-s/fit-&-flare">Fit & Flare</a>
                    </span>
                  </li>
                  <li class="level4">
                    <span class="name">
                      <a href="/view_web/collections/women-s/shift-dresses">Shift Dresses</a>
                    </span>
                  </li>
                  <li class="level4">
                    <span class="name">
                      <a href="/view_web/collections/women-s/slip-dresses">Slip Dresses</a>
                    </span>
                  </li>
                  <li class="level4">
                    <span class="name">
                      <a href="/view_web/collections/women-s/tunic-dresses">Tunic Dresses</a>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/tops-&-t-shirts">
                    <span class="act-underline">Tops & T shirts</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/sleeveless-tops">
                    <span class="act-underline">Sleeveless Tops</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/sweaters-&-cardigans">
                    <span class="act-underline">Sweaters & Cardigans</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/jackets">
                    <span class="act-underline">Jackets</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/outerwear">
                    <span class="act-underline">Outerwear</span>
                  </a>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <span class="name">
              <span class="expander">-</span>
              <a href="/view_web/collections/women-s">
                <span class="act-underline"><%= t("menu.str5") %></span>
              </a>
            </span>
            <ul class="image-links-level-3 megamenu__submenu">
              <li class="level3">
                <span class="name">
                  <a href="/view_web/collections/women-s/trousers">
                    <span class="act-underline">Trousers</span>
                  </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/jeans">
                      <span class="act-underline">Jeans</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/leggings">
                      <span class="act-underline">Leggings</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/jumpsuit-&-shorts">
                      <span class="act-underline">Jumpsuit & shorts</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/skirts">
                      <span class="act-underline">Skirts</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/tights">
                      <span class="act-underline">Tights</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/women-s/beachware">
                      <span class="act-underline">Beachware</span>
                    </a>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <span class="name">
              <span class="expander">-</span>
              <a href="/view_web/collections/accessories">
                <span class="act-underline"><%= t("menu.str6") %></span>
              </a>
            </span>
            <ul class="image-links-level-3 megamenu__submenu">
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/jewellery">
                      <span class="act-underline">Jewellery</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/hats">
                      <span class="act-underline">Hats</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/scarves-&-snoods">
                      <span class="act-underline">Scarves & snoods</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/belts">
                      <span class="act-underline">Belts</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/bags">
                      <span class="act-underline">Bags</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/shoes">
                      <span class="act-underline">Shoes</span>
                    </a>
                </span>
              </li>
              <li class="level3">
                <span class="name">
                    <a href="/view_web/collections/accessories/sunglasses">
                      <span class="act-underline">Sunglasses</span>
                    </a>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span class="name">
          <span class="expander">-</span>
          <a href="/view_web/about">
            <span class="act-underline"><%= t("menu.str7") %>
          </a>
         </span>
      </li>
      <li>
        <span class="name">
          <a href="/view_web/contacts">
            <span class="act-underline"><%= t("menu.str8") %></span>
          </a>
        </span>
      </li>
    </ul>
  </nav>
</div>
