<div id="pageContent" class="starthide">
  <!-- BEGIN content_for_index -->
  <div id="shopify-section-1480804468506" class="shopify-section index-section">
    <div class="tp-banner-container content" data-section-id="1480804468506" data-section-type="slideshow-section">
      <div class="tp-banner-1480804468506" data-speed="16000" data-fullscreen="on"
      data-startheight="800">
        <ul>
          <!-- SLIDE -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
          data-saveperformance="off" data-title="Slide">
            <!-- MAIN IMAGE --><img src="//cdn.shopify.com/s/files/1/1637/5229/files/slide01_x1024.jpg?v=1481313719"
            alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption lfb stb" data-x="center" data-y="center" data-voffset="0"
            data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn" style="z-index: 2;">
              <div class="tp-caption3--wd-2"><%= t("homeContent.str1") %></div>
              <div class="tp-caption3--wd-3"><%= t("homeContent.str2") %></div>
              <div class="tp-caption3--wd-3"><%= t("homeContent.str3") %></div>
              <div class="text-center"> <a href="/collections/accessories" class="link-button button--border-thick"
                data-text="Shop now!"><%= t("homeContent.str4") %></a> </div>
            </div>
          </li>
          <!-- /SLIDE -->
          <!-- SLIDE -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
          data-saveperformance="off" data-title="Slide">
            <!-- MAIN IMAGE --><img src="//cdn.shopify.com/s/files/1/1637/5229/files/slide02_x1024.jpg?v=1481313898"
            alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption lfb stb" data-x="center" data-y="center" data-voffset="0"
            data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn" style="z-index: 2;">
              <div class="tp-caption3--wd-2" style="color:#ffffff"><%= t("homeContent.str5") %></div>
              <div class="tp-caption3--wd-3" style="color:#ffffff"><%= t("homeContent.str6") %></div>
              <div class="tp-caption3--wd-3" style="color:#ffffff"><%= t("homeContent.str7") %></div>
              <div class="text-center"> <a href="/collections/women-s" class="link-button button--border-thick"
                data-text="Shop now!"><%= t("homeContent.str4") %></a> </div>
            </div>
          </li>
          <!-- /SLIDE -->
          <!-- SLIDE -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
          data-saveperformance="off" data-title="Slide">
            <!-- MAIN IMAGE --><img src="//cdn.shopify.com/s/files/1/1637/5229/files/slide03_x1024.jpg?v=1481314169"
            alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption lfb stb" data-x="center" data-y="center" data-voffset="0"
            data-hoffset="0" data-speed="600" data-start="900" data-easing="Power4.easeOut"
            data-endeasing="Power4.easeIn" style="z-index: 2;">
              <div class="tp-caption3--wd-2" style="color:#ffffff"><%= t("homeContent.str8") %></div>
              <div class="tp-caption3--wd-3" style="color:#ffffff"><%= t("homeContent.str9") %></div>
              <div class="tp-caption3--wd-3" style="color:#ffffff"><%= t("homeContent.str10") %></div>
              <div class="text-center"> <a href="/collections/women-s" class="link-button button--border-thick"
                data-text="Shop now!"><%= t("homeContent.str4") %></a> </div>
            </div>
          </li>
          <!-- /SLIDE -->
        </ul>
      </div>
    </div>
  </div>
  <div id="shopify-section-1480804481290" class="shopify-section">
    <section class="content resize-js-1480804481290" data-section-id="1480804481290"
    data-section-type="resize-section">
      <div class="container collectionsall">
        <div class="row">
          <div class="clearfix"></div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
              <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img10-fashop_1024x1024.jpg?v=1480804611" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str11") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
                <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img02_1024x1024.jpg?v=1481309764" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str12") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="clearfix visible-sm"></div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
                <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img03_1024x1024.jpg?v=1481309788" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str13") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="clearfix hidden-xs hidden-sm"></div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
                <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img04_1024x1024.jpg?v=1481309804" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str14") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="clearfix visible-sm"></div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
                <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img05_1024x1024.jpg?v=1481309827" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str15") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a href="/collections/women-s" class="banner zoom-in">
              <span class="figure buttononhover">
                <img src="//cdn.shopify.com/s/files/1/1637/5229/files/img06_1024x1024.jpg?v=1481309841" alt="">
                <span class="figcaption">
                  <span class="block-table">
                    <span class="block-table-cell">
                      <span class="banner__title size40"><%= t("homeContent.str16") %></span>
                      <span class="btn btn--ys btn--xl"><%= t("homeContent.str4") %></span>
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="clearfix visible-sm"></div>
          <div class="clearfix hidden-xs hidden-sm"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- END content_for_index -->
</div>
